.contenedor{
margin: auto;
padding: auto;
width: 90%;
height: auto;
background-color: rgb(253, 169, 90);
font-size: 130%;
}

.header{
    margin: auto;
    padding: auto;
    width: 100%;
    height: auto;
    background-color: rgb(224, 192, 5);
    position: relative;
    text-align: center;
    
    border: 1px solid #000;
}

.CajaProducto{
    margin: auto;
    padding: auto;
    width: 60%;
    height: 100%;
    background-color: bisque;
    text-align: center;
}
.FotoProducto{
    width: 60%;
    border: 1px solid #000;
    margin: auto;
    padding: auto;
}
.ImagenProducto{
    width: 100%;
    border: 1px solid #000;
}
.Titulo{
    font-size: 200%;
}
.Button{
    background-color: rgb(34, 190, 14);
    border:none;
    font-size: 120%;
    text-align: center;
}
.botonsi{
background-color: rgb(87, 255, 9);
font-size: 160%;
width: 200px;
}
.botonno{
background-color: crimson;
font-size: 160%;
width: 200px;
}
p{
    font-size: 20px;
}